<template>
    <li key={value} class={classList} role="presentation">
        <a aria-selected="true" class="slds-path__link" href="javascript:void(0);" id={value} role="option"
            tabindex="0">
            <span class="slds-path__stage">
                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check">
                    </use>
                </svg>
                <span class="slds-assistive-text">Current Stage:</span>
            </span>
            <span class="slds-path__title">{label}</span>
        </a>
    </li>
</template>