<template>
	<lightning-card>
		<div class="slds-path">
			<div class="slds-grid slds-path__track">
				<div class="slds-grid slds-path__scroller-container">
					<div class="slds-path__scroller" role="application">
						<div class="slds-path__scroller_inner">
							<ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
								<template if:true={picklistFieldValues.data}>
									<template for:each={picklistFieldValues.data.values} for:item="item">
										<c-custom-path-inner-lwc key={item.value} label={item.label} value={item.value} selected-value={selectedValue}>
											
										</c-custom-path-inner-lwc>
									</template>
								</template>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</lightning-card>
</template>